<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': status === 'allumé',
    'list-group-item-danger': status === 'éteint'
  }"
>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ap of appareils">
        <td> num appareil</td>
        <td>{{ ap.nom }}</td>
        <td>{{ ap.status }}</td>
        <td><button class="btn btn-success">valider</button></td>
      </tr>
    </tbody>
  </table>

  <div
    style="width:20px;height:20px;background-color:red;"
    *ngIf="status === 'éteint'"
  ></div>
  <h4 [ngStyle]="{ color: getColor() }">
    appareil : {{ name }} ----- status ------ {{ getStatus() }}
  </h4>
  <button class="btn btn-success" [disabled]="btn" (click)="changeStatus()">
    bouton
  </button>
  <input type="text" class="form-control" [(ngModel)]="name" />
  <button (click)="alAppareil()">Allume moi</button>
  <button (click)="etAppareil()">Eteint moi</button>
  <!--two way binding-->
</li>
